{% extends 'base.html' %}

{% block content %}

<div class="col-md-8"> <!-- <div class="col-md-6 mx-auto"> -->
    <h2>Criar Novo Evento</h2>

    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %} role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <form method="post" role="form">
        {% csrf_token %}
        {{ event_form.as_p}}


        {{ address_form.non_field_errors }}
        <div class="form-row">
            <div class="form-group col-md-5">
                <p>
                    <label for="inputCity">Município:</label>
                    {{ address_form.city.errors }}
                    {{ address_form.city }}
                </p>
            </div>
            <div class="form-group col-md-4">
                <p>
                    <label for="inputState">Estado:</label>
                    {{ address_form.state.errors }}
                    {{ address_form.state }}
                </p>
            </div>
            <div class="form-group col-md-3">
                <p>
                    <label for="inputZip">CEP:</label>
                    {{ address_form.zipcode.errors }}
                    {{ address_form.zipcode }}
                </p>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <p>
                    <label for="inputCity">Endereço:</label>
                    {{ address_form.address.errors }}
                    {{ address_form.address }}
                </p>
            </div>
            <div class="form-group col-md-3">
                <p>
                    <label for="inputState">Bairro:</label>
                    {{ address_form.district.errors }}
                    {{ address_form.district }}
                </p>
            </div>
            <div class="form-group col-md-2">
                <p>
                    <label for="inputZip">Número:</label>
                    {{ address_form.number.errors }}
                    {{ address_form.number }}
                </p>
            </div>
            <div class="form-group col-md-3">
                <p>
                    <label for="inputZip">Complemento:</label>
                    {{ address_form.complement.errors }}
                    {{ address_form.complement }}
                </p>
            </div>
        </div>

        <button type="submit" id="btn-send" class="btn btn-primary">Criar</button>

    </form>
</div>

{% endblock %}
