{% extends 'base.html' %}

{% block content %}

    <div class="col-md-6">
        <form method="POST" role="form">

            {% csrf_token %}

            <p>
                <label for="id_name">Nome:</label>
                {{ animal_form.name }}
            </p>

            <p>
                <label for="id_sex">Sexo:</label>
                {{ animal_form.sex }}
            </p>

            <p>
                <label for="id_day_of_birth">Data de Nascimento:</label>
                {{ animal_form.day_of_birth }}
            </p>

            <p>
                <label for="id_species">Espécie:</label>
                <a href="{% url 'new_species_popup' %}" id="add-species" onclick="return showAddPopup(this);">
                     <button type="button" class="btn btn-default" role="button" title="Nova Espécie">
                         <span style="font-size: 1.5em; color: #31af91">
                            <i class="fas fa-plus"></i>
                        </span>
                    </button>
                 </a>
                {{ animal_form.species }}

            </p>

            <p>
                <label for="id_breed">Raça:</label>
                <a href="{% url 'new_breed_popup' %}" id="add-breed" onclick="return showAddPopup(this);">
                    <button type="button" class="btn btn-default" role="button" title="Nova Raça">
                        <span style="font-size: 1.5em; color: #31af91">
                            <i class="fas fa-plus"></i>
                        </span>
                    </button>
                </a>
                {{ animal_form.breed }}
            </p>

            <p>
                <label for="id_observation">Observação:</label>
                {{ animal_form.observation }}
            </p>
            

{#            {% if action == 'create' %}#}
{#                <h5>Informações de Acolhimento</h5>#}
{#                <p><label for="shelter-person">Acolhedor</label>#}
{#                    {{ shelter_form.person }}#}
{#                </p>#}
{#                <p><label for="shelter-category">Tipo</label>#}
{#                    {{ shelter_form.category }}#}
{#                    <select name="category" class="form-control" required id="id_category">#}
{#                        <option value="Temporário" selected="">Temporário</option>#}
{#                        <option value="Adoção">Adoção</option>#}
{#                    </select>#}
{#                </p>#}
{##}
{#                <p><label for="shelter-entry-date">Data de Entrada</label>#}
{#                    {{ shelter_form.entry_date }}#}
{#                    <input type="text" name="entry_date" class="form-control" placeholder="dd/mm/aaaa" required id="id_entry_date">#}
{#                </p>#}
{#            {% endif %}#}

            <button type="submit" id="btn-send" class="btn btn-primary">Criar</button>
        </form>
    </div>

{% include 'popup_form.html' %}

{% endblock %}
