{% extends 'base_list.html' %}

{% block table_content %}
    <a href="{% url 'new_animal' %}">Novo Animal</a>
    <thead>
        <th>Nome</th>
        <th>Espécie</th>
        <th>Raça</th>
        <th>Acolhimento</th>
        <th></th>
        <th></th>
        <th></th>
    </thead>
    <tbody>

        {% for animal in animals %}

            <tr>
                <td>{{ animal.name }}</td>
                <td>{{ animal.species }}</td>
                <td>{{ animal.breed }}</td>
                <td>{% if animal.category == None %}<a href="{% url 'new_shelter' %}">Adicionar</a>{% else %}{{ animal.category }}{% endif %}</td>
                <td>INFO</td>
                <td><a href="{% url 'update_animal' pk=animal.id %}">EDIT</a></td>
                <td><a href="{% url 'del_animal' pk=animal.id %}">DELETE</a></td>
            </tr>

        {% endfor %}

    </tbody>
{% endblock %}
