{% extends 'base.html' %}

{% block content %}

    <div class="col-md-6">
        <form method="POST" role="form">

            {% csrf_token %}

            <p><label for="healthlog-date">Data</label>
                {{ form.date }}
            </p>

            <p><label for="healthlog-observation">Observação</label>
                {{ form.observation }}
            </p>

            <button type="submit" id="btn-send" class="btn btn-primary">Criar</button>
        </form>
    </div>

{% include 'popup_form.html' %}

{% endblock %}