{% extends 'base_list.html' %}

{% block table_content %}
    <a href="{% url 'new_shelter' %}">Novo Acolhimento</a>
    <thead>
        <th>Pessoa</th>
        <th>Animal</th>
        <th>Situação</th>
        <th>Entrada</th>
        <th>Saída</th>
        <th></th>
        <th></th>
    </thead>
    <tbody>

        {% for shelter in shelter %}

            <tr>
                <td>{{ shelter.person }}</td>
                <td>{{ shelter.animal }}</td>
                <td>{{ shelter.category }}</td>
                <td>{{ shelter.entry_date|date:'d/m/Y' }}</td>
                <td>{{ shelter.exit_date|date:'d/m/Y' }}</td>
                <td><a href="{% url 'update_shelter' pk=shelter.id %}">EDIT</a></td>
                <td><a href="{% url 'del_shelter' pk=shelter.id %}">DELETE</a></td>
            </tr>

        {% endfor %}

    </tbody>
{% endblock %}
