{% extends 'base_list.html' %}

{% block table_content %}
    <a href="{% url 'new_shelter' %}">
        <button type="button" class="btn btn-info">Novo Acolhimento</button>
    </a>
    <thead>
        <th>Pessoa</th>
        <th>Animal</th>
        <th class="text-center">Situação</th>
        <th class="text-center">Entrada</th>
        <th class="text-center">Saída</th>
        <th class="text-center">Ações</th>
    </thead>
    <tbody>

        {% for shelter in shelter %}

            <tr>
                <td>{{ shelter.person }}</td>
                <td>{{ shelter.animal }}</td>
                <td class="text-center">{{ shelter.category }}</td>
                <td class="text-center">{{ shelter.date_entry|date:'d/m/Y' }}</td>
                <td class="text-center">{{ shelter.date_exit|date:'d/m/Y' }}</td>
                <td>
                    <a href="{% url 'update_shelter' pk=shelter.id %}">
                        <button type="button" class="btn btn-default">
                            <span style="font-size: 1.5em; color: #f8b242">
                                <i class="fas fa-edit"></i>
                            </span>
                        </button>
                    </a>
                    <button type="button" class="btn btn-default" data-toggle="modal" data-target="#shelter-{{shelter.id}}-delmodal" role="button" title="Remover">
                        <span style="font-size: 1.5em; color: #dc3545">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                    </button>

                </td>
            </tr>

            <!-- Shelter Delete Modal -->
            <div class="modal fade" id="shelter-{{shelter.id}}-delmodal" role="dialog">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Acolhimento - ID {{ shelter.id }}</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Tem certeza que deseja remover o acolhimento <strong>{{ shelter.id }}</strong>?</p>
                        <p>Esta operação não poderá ser desfeita no futuro.</p>
                    </div>
                    <div class="modal-footer">
                        <a href="{% url 'del_shelter' pk=shelter.id %}">
                        <button type="button" class="btn btn-danger">Remover</button>
                        </a>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
                </div>
            </div>

        {% endfor %}

    </tbody>
{% endblock %}
