{% extends 'base.html' %}

{% block content %}

<div class="form-base"> <!-- <div class="col-md-6 mx-auto"> -->
    <h2>Criar Novo Contato</h2>

    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %} role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <form method="post" role="form">
        {% csrf_token %}
        {{ person_form.non_field_errors }}

        <div class="form-row">
            <div class="form-group col-md-5">
                <p>
                    <label for="id_name">Nome completo:</label>
                    {{ person_form.name.errors }}
                    {{ person_form.name }}
                </p>
            </div>
            <div class="form-group col-md-4">
                <p>
                    <label for="id_email">E-mail:</label>
                    {{ person_form.email.errors }}
                    {{ person_form.email }}
                </p>
            </div>
            <div class="form-group col-md-3">
                {{ contact_form.non_field_errors }}
                <p>
                    <label for="id_phone">Telefone:</label>
                    {{ contact_form.phone.errors }}
                    {{ contact_form.phone }}
                </p>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <p>
                    <label for="id_is_adopter">Adotou animal?</label>
                    {{ contact_form.is_adopter.errors }}
                    {{ contact_form.is_adopter }}
                </p>
            </div>
            <div class="form-group col-md-6">
                <p>
                    <label for="id_type">Tipo de contato:</label>
                    {{ contact_form.type.errors }}
                    {{ contact_form.type }}
                </p>
            </div>
        </div>

        <!-- Adress Form -->
        <div class="form-row">
            <div class="form-group col-md-4">
                <p>
                    <label for="inputCity">Endereço:</label>
                    {{ address_form.address.errors }}
                    {{ address_form.address }}
                </p>
            </div>
            <div class="form-group col-md-2">
                <p>
                    <label for="inputZip">Número:</label>
                    {{ address_form.number.errors }}
                    {{ address_form.number }}
                </p>
            </div>
            <div class="form-group col-md-3">
                <p>
                    <label for="inputState">Bairro:</label>
                    {{ address_form.district.errors }}
                    {{ address_form.district }}
                </p>
            </div>
            <div class="form-group col-md-3">
                <p>
                    <label for="inputZip">Complemento:</label>
                    {{ address_form.complement.errors }}
                    {{ address_form.complement }}
                </p>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <p>
                    <label for="inputCity">Município:</label>
                    {{ address_form.city.errors }}
                    {{ address_form.city }}
                </p>
            </div>
            <div class="form-group col-md-4">
                <p>
                    <label for="inputState">Estado:</label>
                    {{ address_form.state.errors }}
                    {{ address_form.state }}
                </p>
            </div>
            <div class="form-group col-md-3">
                <p>
                    <label for="inputZip">CEP:</label>
                    {{ address_form.zipcode.errors }}
                    {{ address_form.zipcode }}
                </p>
            </div>
        </div>

        <button type="submit" id="btn-send" class="btn btn-primary">Criar</button>

    </form>
</div>

{% endblock %}
