{% extends 'base.html' %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block content %}
    <div class="container" style="width: 80%">
    <table id="main_table" class="table table-striped table-bordered">
        {% block table_content %}

        {% endblock %}
    </table>
    </div>

    {% block modals %}
    
    {% endblock %}
{% endblock %}

{% block js %}
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#main_table').DataTable();
        } );
    </script>
{% endblock %}
