{% extends 'base.html' %}

{% block content %}

    <h2>Alterar senha</h2>

    <form method="post" role="form">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="col-md-6">
            <label for="id_old_password">Senha antiga:</label>
            {{ form.old_password.errors }}
            {{ form.old_password }}


            <label for="id_new_password1">Nova senha:</label>
            {{ form.new_password1.errors }}
            {{ form.new_password1 }}
            <small id="passwordHelpBlock" class="form-text text-muted">
                Sua senha não pode ser tão parecida com suas outras informações pessoais, precisa conter pelo menos 8 caracteres, não pode ser uma senha habitualmente utilizada, ou ser inteiramente numérica.
            </small>
        </div>
        <div class="col-md-6 form-group">
            <label for="id_new_password2">Confirmação da nova senha:</label>
            {{ form.new_password2.errors }}
            {{ form.new_password2 }}
        </div>

        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}"{% endif %} role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="col-md-6">
            <button type="submit" id="btn-send" class="btn btn-primary">Atualizar</button>
        </div>
    </form>

{% endblock %}
