<!-- Sidebar  -->
<nav id="sidebar">
    <div class="sidebar-header">
        {% if user.is_admin %}
            <h3>Admin.</h3>
        {% else %}
            <h3>Voluntário</h3>
        {% endif %}
        <strong><i class="fas fa-user-circle"></i></strong>
    </div>

    <ul class="list-unstyled components">
        <li class={{home_active}}>
            <a href="{% url 'home' %}">
                <i class="fas fa-home"></i>
                <span class="toggle">Início</span>
            </a>
        </li>
        <li class={{dashboard_active}}>
            <a href="{% url 'dashboard:home' %}">
                <i class="fas fa-chart-line"></i>
                <span class="toggle">Dashboard</span>
            </a>
        </li>
        <li class={{animals_active}}>
            <a href="#animalsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-paw"></i>
                <span class="toggle">Animais</span>
            </a>
            <ul class="collapse list-unstyled" id="animalsSubmenu">
                <li>
                    <a href="{% url 'animal' %}">Registros</a>
                </li>
                <li>
                    <a href="{% url 'shelter' %}">Acolhimentos</a>
                </li>
            </ul>
        </li>
        <li class={{volunteers_active}}>
            <a href="#volunteersSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-hands-helping"></i>
                <span class="toggle">Voluntários</span>
            </a>
            <ul class="collapse list-unstyled" id="volunteersSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
        <li class={{financial_active}}>
            <a href="#financialSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-hand-holding-usd"></i>
                <span class="toggle">Financeiro</span>
            </a>
            <ul class="collapse list-unstyled" id="financialSubmenu">
                <li>
                    <a href="{% url 'expense_list' %}">Lançar Despesas</a>
                </li>
                <li>
                    <a href="#">Relatórios</a>
                </li>
            </ul>
        </li>
        <li class={{contacts_active}}>
            <a href="#contactsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-address-book"></i>
                <span class="toggle">Contatos</span>
            </a>
            <ul class="collapse list-unstyled" id="contactsSubmenu">
                <li>
                    <a href="{% url 'contacts:home' %}">Lista de Contatos</a>
                </li>
            </ul>
            <ul class="collapse list-unstyled" id="contactsSubmenu">
                <li>
                    <a href="{% url 'contacts:create_contact' %}">Criar Novo Contato</a>
                </li>
            </ul>
        </li>
        {% if user.is_admin %}
        <li class={{admin_active}}>
            <a href="#adminSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-users-cog"></i>
                <span class="toggle">Admin</span>
            </a>
            <ul class="collapse list-unstyled" id="adminSubmenu">
                <li>
                    <a href="{% url 'list_users' %}">Usuários</a>
                </li>
            </ul>
            <ul class="collapse list-unstyled" id="adminSubmenu">
                <li>
                    <a href="{% url 'create_user' %}">Criar Novo Usuário</a>
                </li>
            </ul>
        </li>
        {% endif %}
    </ul>
</nav>