 <!-- Remove Confirmation Modal -->
<div class="modal fade" id="object_{{object.id}}_modal" role="dialog">
    <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">{{title_model}} - ID {{ object.id }}</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <p>Tem certeza que deseja remover o {{object_model}} <strong>{{ object.name }}</strong>?</p>
            <p>Esta operação não poderá ser desfeita no futuro.</p>
        </div>
        <div class="modal-footer">
            <a href="{% url url_modal object.id %}">
            <button type="button" class="btn btn-danger">Remover</button>
            </a>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
        </div>
    </div>
    </div>
</div>