{% extends 'base.html' %}
            
{% block content %}

    <h2>Alterar Perfil</h2>

    <form method="post" role="form">
        {% csrf_token %}
        <div class="col-md-6">
            {{ form.as_p }}
        </div>
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }}"{% endif %} role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        <div class="col-md-6">
            <button type="submit" id="btn-send" class="btn btn-primary">Atualizar</button>
        </div>
    </form>

{% endblock %}
