{% extends 'base_list.html' %}

{% block table_content %}
    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %} role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <thead>
        <tr>
            <th>Nome</th>
            <th>E-mail</th>
            <th class="text-center">Último login</th>
            <th class="text-center">Perfil</th>
            <th class="text-center">Data de registro</th>
            <th class="text-center">Ativo</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for object in users %}
            <tr>
                <td>{{object.name}}</td>
                <td>{{object.email}}</td>
                <td class="text-center">{% if object.last_login %}{{object.last_login|date:'d/m/Y H:i'}}{% else %}Nunca logou{% endif %}</td>
                <td class="text-center">{% if object.is_admin %}Admin.{% else %}Voluntário{% endif %}</td>
                <td class="text-center">{{object.date_joined|date:'d/m/Y'}}</td>

                <td class="text-center align-middle">{% if object.is_active %}
                        <a href="{% url "disable_user" object.id %}">
                            <span style="font-size: 2em; color: green;">
                                <i class="fas fa-toggle-on"></i>
                            </span>
                        </a>
                    {% else %}
                        <a href="{% url "active_user" object.id %}">
                            <span style="font-size: 2em; color: grey; transform: rotate(180deg);">
                                <i class="fas fa-toggle-on"></i>
                            </span>
                        </a>
                    {% endif %}
                </td>
                <td class="text-center align-middle">
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#object_{{object.id}}_modal" role="button" title="Remover">
                        <span style="font-size: 1em; color: #f0f0f0">
                            <i class="fas fa-trash-alt"></i>
                        </span>
                    </button>
                </td>
            </tr>

            {% include template_modal %}

        {% endfor %}
    </tbody>

{% endblock %}