{% extends 'base.html' %}
            
{% block content %}

<div class="form-base"> <!-- <div class="col-md-8 mx-auto"> -->
    <h2>Editar Evento</h2>

    {% if messages %}
        {% for message in messages %}
            <div {% if message.tags %} class="{{ message.tags }}"{% endif %} role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}

    <form method="post" role="form">
        {% csrf_token %}

        <!-- Event Form -->
        {{ event_form.non_field_errors }}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="id_name">Local:</label>
                {{ event_form.local }}
            </div>
            <div class="form-group col-md-3">
                <label for="id_email">Data de início:</label>
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                    {{ event_form.start_date }}
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="id_phone">Data de termino:</label>
                <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                    {{ event_form.end_date }}
                    <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fas fa-calendar-alt"></i></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="id_name">Horário:</label>
                <div class="input-group date" id="timepicker" data-target-input="nearest">
                    {{ event_form.schedule }}
                    <div class="input-group-append" data-target="#timepicker" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fas fa-clock"></i></i></div>
                    </div>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label for="id_email">Frequência:</label>
                {{ event_form.frequency }}
            </div>
            <div class="form-group col-md-4">
                <label for="id_phone">Tipo:</label>
                {{ event_form.type_event }}
            </div>
        </div>

        <!-- Adress Form -->
        {{ address_form.non_field_errors }}
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputCity">Endereço:</label>
                {{ address_form.address }}
            </div>
            <div class="form-group col-md-2">
                <label for="inputZip">Número:</label>
                {{ address_form.number }}
            </div>
            <div class="form-group col-md-3">
                <label for="inputState">Bairro:</label>
                {{ address_form.district }}
            </div>
            <div class="form-group col-md-3">
                <label for="inputZip">Complemento:</label>
                {{ address_form.complement }}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-5">
                <label for="inputCity">Município:</label>
                {{ address_form.city }}
            </div>
            <div class="form-group col-md-4">
                <label for="inputState">Estado:</label>
                {{ address_form.state }}
            </div>
            <div class="form-group col-md-3">
                <label for="inputZip">CEP:</label>
                {{ address_form.zipcode }}
            </div>
        </div>

        {{ event_form.local.errors }}
        {{ event_form.start_date.errors }}
        {{ event_form.end_date.errors }}
        {{ event_form.schedule.errors }}
        {{ event_form.frequency.errors }}
        {{ event_form.type_event.errors }}
        {{ address_form.city.errors }}
        {{ address_form.state.errors }}
        {{ address_form.zipcode.errors }}
        {{ address_form.address.errors }}
        {{ address_form.district.errors }}
        {{ address_form.number.errors }}
        {{ address_form.complement.errors }}

        <button type="submit" id="btn-send" class="btn btn-primary">Atualizar</button>

    </form>
</div>

{% endblock %}
