{% extends 'base_list.html' %}

{% block table_content %}
    <thead>
        <th>Tipo de Despesa</th>
        <th class="text-center">Descrição</th>
        <th class="text-center">Valor</th>
        <th class="text-center">Status</th>
        <th class="text-center">Data de Criação</th>
        <th class="text-center">Ultima Atualização</th>
    </thead>
    <tbody>
     
        {% for e in expenses %}

            <tr>
                <td>{{ e.expense_type }}</td>
                <td class="text-center">{{ e.description }}</td>
                <td class="text-center">{{ e.amount }}</td>
                <td class="text-center">{{ e.status }}</td>
                <td class="text-center">{{ e.created_at }}</td>
                <td class="text-center">{{ e.updated_at }}</td>
            </tr>

        {% endfor %}

    </tbody>

{% include 'popup_form.html' %}

{% endblock %}
